APP_NAME="MyBP"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
ACTIVITY_LOGGER_ENABLED=false
DEBUGBAR_ENABLED=false

AMBIENTE=local
LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=pusher
CACHE_DRIVER=file
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_PREFIX="mybp_${APP_ENV}_"

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

FILESYSTEM_DRIVER=local
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET=
AWS_URL=

PUSHER_APP_ID=1173555
PUSHER_APP_KEY=29608940ab0ab589031e
PUSHER_APP_SECRET=fcebb90d73f30915f049
PUSHER_APP_CLUSTER=mt1
PUSHER_APP_TLS=true
PUSHER_APP_ENCRYPTED=
PUSHER_APP_HOST=

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
MIX_PUSHER_APP_TLS=true

MIX_AMBIENTE='dev'
MIX_URL_SITE="${APP_URL}"
MIX_URL_ADMIN="${APP_URL}/g"
MIX_URL_PUBLICO="${APP_URL}/publico"

MIX_GOOGLE_MAPS_KEY=
MIX_TYNEKEY=

CHAT_ID="150826989"
BOT_ID="907984158:AAF8RahOPsX35thhBa9s7-sdie6fGnKkuys"

#COM DESAFIO
#RECAPTCHA_SITE_KEY=6LcXShoUAAAAACQ6J-CwcmuT_2x3b5yDOXJUGPXK
#RECAPTCHA_SECRET_KEY=6LcXShoUAAAAAOcIvv-U3Qme0mx7kKAIMVU2ayfO

#INVISIVEL
RECAPTCHA_SITE_KEY=6LdengIaAAAAAJg2S6KmV57d0nS_Q-vS1SR_ByrI
RECAPTCHA_SECRET_KEY=6LdengIaAAAAAD3XuRAdRbG47VwOv6WvDTshjwnt

API_ZAPME=6a976af8d7203e26f67fd4ec
SECRET_ZAPME=7406953218

SESSION_DOMAIN=127.0.0.1
SANCTUM_STATEFUL_DOMAINS=localhost:8080,127.0.0.1:8000

X_API_TOKEN=gTyF2ErmclLMRjzxBHo20OoXVqNh/gnDKqCtQVRtsrfF1sOU4s6wK
