{
    "extends": [
      "plugin:prettier/recommended",
      "plugin:vue/recommended"
    ],

    "plugins": ["prettier", "vue"],

    "parserOptions": {
      "ecmaVersion": 2020,
      "sourceType": "module"
    },

    "rules": {
      "prettier/prettier": "error",
      "vue/multi-word-component-names": "off"
    },

    "env": {
      "browser": true,
      "es6": true
    }
  }
